@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .collapse {
    @apply bg-slate-900;
  }
  .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}